@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

  :root{
    --blue: #1C1D2A;
    --white: #FFF7FE;
    --orange: #D87C3B;
    --violet : #50424F;
    --global-padding: 8px 12px;
    --global-margin: 20px 0;
    --spacing: 0 0 40px 0;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    }

   body{
    background: var(--white);
   }

  a{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
  }

  h1, h2, h3{
    font-weight: 500;
    margin: 30px 0;
  }

  p{
    font-weight: 300;
    font-size: 18px;
  }

  .container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    border: solid blue;
  }


  /* header */
  header{
    width: 100%;
    background-image: linear-gradient(180deg, rgba(80,66,79,0.5) 0%, rgba(28,29,42,0.5) 100%), url('./img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }

  header .menu{
    text-align: right;
    margin: var(--global-margin);
  }

  header .menu a{
    display: inline-block;
    padding: var(--global-padding);
    margin: 10px 20px;
    color: var(--white);
    border: transparent;
  }

  header .menu :first-child{
    border-bottom: 2px solid var(--white);
  }

  header .menu a:hover{
    transition: .4s ease;
    border-radius: 4px;
    background: var(--violet);
  }

  header .cover{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 180px 0;
    color: var(--white);
  }

  header .cover .cover-text{
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 20px 60px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }

  header .cover .cover-text h1, h2{
    margin: 0;
  }


  /* main */
  
  /* about me: */
  main .about{
    text-align: center;
    overflow: visible;
    width: 80%;
    margin-bottom: 40px;
    border: solid green;
  }
  
  main h1{
    font-size: 28px;
  }

  .about .photo{
    margin-top: -60px;
  }

  .about .photo img{
    width: 150px;
    height: 150px;
    vertical-align: top;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255, 0.1);
  }

  .about .about-text{
    margin: var(--global-margin);
  }

  .about .about-text h1{
    color: var(--orange);
  }

  .about .about-text p{
    color: var(--blue);
  }

  /* portfolio: */
  main .portfolio{
    background: var(--blue);
    color: var(--white);
    padding: 40px;
    text-align: center;
    margin: auto;
    overflow: hidden;
  }
/*
  main .portfolio{
    margin: var(--global-margin);
  }*/

  main .portfolio .works{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 .portfolio .works .work{
    width: 30%;
    border: solid aliceblue;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid rgba(255, 247, 254, 0.1);
    background:  rgba(80, 66, 79, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 4px;
}

.portfolio .works .work .thumb{
    width: 100%;
}

.portfolio .works .work .thumb img{
    width: 100%;
    vertical-align: top;
    margin-bottom: 12px;
}

.portfolio .works .work .description{
    text-align: center;
    margin-bottom: 12px;
}

.portfolio .works .work .description p{
    margin-bottom: 6px;
}

.portfolio .work .work .description .technologies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .works .work .description span{
    margin: 2px 4px;
    display: inline-block;
    padding: 4px 6px;
    background: var(--violet);
    border-radius: 4px;
}

footer{
    color: var(--blue);
}

footer .contact{
    text-align: center;
    padding: 20px 0px;
    margin: 40px auto;
}

footer .contact h1{
    font-size: 28px;
}

footer .contact .contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contact .contact-form input[type="text"], footer .contact .contact-form input[type="email"], footer .contact .contact-form textarea{
    border: 1px solid rgba(28, 29, 42, 0.5);
    border-radius: 4px;
    padding: 8px 12px;
    color: var(--blue);
}

footer .contact .contact-form input[type="text"]::placeholder, footer .contact .contact-form input[type="email"]::placeholder, footer .contact .contact-form textarea::placeholder{
    color: var(--blue);
}

footer .contact .contact-form input[type="text"]:focus, footer .contact .contact-form input[type="email"]:focus, footer .contact .contact-form textarea:focus{
  border: solid 2px var(--violet);
}


footer .contact .contact-form input[type="text"], footer .contact .contact-form input[type="email"]{
    width: 49%;
    margin-bottom: 12px;
}

footer .contact .contact-form textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: 16px;
  }

  footer .contact .contact-form input[type="submit"]{
    margin: auto;
    background: var(--blue);
    color: var(--white);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  footer .contact .contact-form input[type="submit"]:hover{
    transition: .4s ease;
    background: var(--violet);
  }

   .social-media{
    padding: 30px 40px;
    background: var(--blue);
    color: var(--white);
  }

  .social-media h2{
    font-size: 24px;
    text-align: center;  
    margin-bottom: 12px;
  }

  .social-media .links{
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    border: solid fuchsia;
  }

  .social-media .links a{
    display: inline-block;
    padding: 8px;
    color: var(--white);
    margin: 0 4px;
  }

  .social-media .links a:hover{
    transition: .3s ease;
    transform: scale(1.1);
  }


  .social-media .links a i{
    font-size: 22px;
    color: var(--white);
    margin: 0 8px;
  }

  /* responsive design */

  /* laptos: */

  @media only screen and (max-width: 992px){

    header .menu{
      border: solid yellow;
      text-align: center;
    }

    header .menu a{
      margin: 20px 40px;
      border: solid yellowgreen;
    }

  }

  /* tablets: */
  @media only screen and (max-width: 768px){

    main .portfolio .works{
      width: 100%;
    }

    .portfolio .works .work{
      width: 48%;
    }

    footer .contact{
      padding: 20px;
    }

    .social-media .links{
      width: 100%;
    }

  }

  /* phones: */
  @media only screen and (max-width: 600px){

    header .menu a{
      margin: 0 20px;
      border: solid yellowgreen;
    }

    main .about{
      width: 90%;
    }

    main .portfolio .works{
      justify-content: space-around;
    }

    main .portfolio .works .work{
      width: 45%;
    }

    footer .contact{
      padding: 10px;
    }

    .social-media{
      padding: 20px;
    }
    .social-media .links{
      width: 90%;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0px ;
    }
    .social-media .links a{
      margin-bottom: 10px;
    }

  }

  /* small phones: */
  @media only screen and (max-width: 450px){
    
    a, p{
      font-size: 16px;
    }

    header .menu{
      margin: 20px 0px;
    }

    header .menu a{
      margin: 0 8px;
    }

    main h1{
      font-size: 22px;
    }

    main p{
      font-size: 16px;
    }

    main .portfolio .works .work{
      width: 100%;
      margin-bottom: 24px;
    }

    footer .contact h1{
      font-size: 22px;
    }

    footer .contact .contact-form input[type="text"], footer .contact .contact-form input[type="email"]{
      width: 100%;
      margin-bottom: 12px;
    }

    .social-media{
      padding: 10px;
    }

  }

  /* android 4.4.2 */
  @media only screen and (max-width: 384px){
    
    header .menu{
      margin: 40px 0px;
    }

    header .menu a{
      padding: 4px 6px;
      margin: 0 8px;
    }
    header .cover{
      margin: 120px 0;
    }

    header .cover .cover-text{
      padding: 20px;
    }

    main .about .photo img{
      width: 120px;
      height: 120px;
    }

    footer .contact{
      padding: 0;
    }
  }
  